// swift-tools-version: 6.2

import PackageDescription

let package = Package(
    name: "{{PROJECT_NAME}}",
    platforms: [
        .macOS(.v15),
    ],
    dependencies: [
        .package(url: "https://github.com/mac9sb/web-ui.git", branch: "main"),
    ],
    targets: [
        .executableTarget(
            name: "{{MODULE_NAME}}",
            dependencies: [
                .product(name: "WebUI", package: "web-ui"),
            ]
        ),
    ]
)
